<style>
    #imagen_inicio{
            max-width: 50%;
            
        }
        .contenedor_inicio{
            display: flex   ;
            justify-content: space-between;
        }
        .titulos{
            display:flex;
            flex-direction: column;
            padding-left: 2rem
            
        }
        .logo_secundario{
            max-height: 100%;
            
        }
        .contenedor_logo_secundario{
            display: flex;
            justify-content: center;
            max-height: 40%;
        }
        .titulo_principal{
            color:#761A38;
        }
        .subtitulo{
            color:#761A38;
        }
        .contenedor_titulo_ingredientes{
            display: flex;
            justify-content: center;
            
        }
        .contenedor_ingredientes{
            background-color: #761A38;
        }
        .titulo_ingredientes{
            color: white;
            font-weight: bold;
            padding-top: 2rem;
        }
        .contenedor_cotenido_ingrediente{
            margin-top:2rem;
            margin-left: 5rem;
            margin-right: 5rem;
        }
</style>


<div class="contenedor_inicio">
    
    <div class="titulos">
        <div class="contenedor_logo_secundario">

            <img src="https://i.ibb.co/Y2k1KGW/9-1.png" alt="Logo" class="logo_secundario">
        </div>
        <h1 class="titulo_principal"><strong>
            LA FLOR PARA TU CABELLO

        </strong>
        </h1>
        <h3 class="subtitulo">
            SALUD Y BELLEZA DE LA RAÍZ HASTA LAS PUNTAS
        </h3>

    </div>

    <img id="imagen_inicio" src="https://i.ibb.co/0yvv3Cj/2-1.png" alt="Imagen inicio" align="right">

</div>
<div class="contenedor_ingredientes">
    <div class="contenedor_titulo_ingredientes">
        <h2 class="titulo_ingredientes">INGREDIENTES</h2>
    </div>

    <div class="contenedor_cotenido_ingrediente">


            <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aceite de Coco y Argán</h5>
                <p class="card-text">El aceite de argán tiene vitaminas, minerales y ácidos grasos
altamente beneficiosos para la piel y el pelo. Previenen el
envejecimiento prematuro y reparan el daño del pelo en pocas
aplicaciones.</p>
<p>

</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Extracto de Cebolla</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Extracto de Romero</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Keratina Hidrolizada</h5>
                <p class="card-text">Larga duración de la coloración, esta queratina resulta
extraordinaria para hidratar en profundidad las raíces capilares,
dando textura y suavidad al cabello. Ayuda a mejorar el efecto frizz, roturas, puntas
abiertas, daños de coloraciones previos.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Extracto de Caléndula</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Extracto de Moringa</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Extracto de Sabila</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Extracto de Ortiga</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aceite de caña de Canabis</h5>
                <p>

                Repara la Sequedad y la deshidratación.
                Contiene antioxidantes que protegen contra el daño de los radicales libres, que pueden causar la caída del cabello.
                Mejora la elasticidad del cabello y consigue un brillo extremo.
                </p>
            </div>
            </div>
        </div>
        </div>

    </div>


</div>
